<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <customErrors mode="Off" />
    <!-- Mostrar detalles completos de errores -->
  </system.web>
  <system.webServer>
    <handlers>
      <add name="SoapHandler" path="*.asmx" verb="*" type="System.Web.Services.Protocols.HttpServerProtocol, System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" resourceType="Unspecified" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true" />
    <httpErrors errorMode="DetailedLocalOnly" />
    <asp scriptErrorSentToBrowser="true" />
    <!-- Mostrar errores del script en el navegador -->
  </system.webServer>
</configuration>
